:root {
  --primary-color: #00008b;
  --secondary-color: #add8e6;
  --tertiary-color: #000000;
}

body {
  color: var(--primary-color);
  font-family: Georgia, Times, "Times New Roman", serif;
}

/* header styles start */
header {
  padding: 20px 40px 20px 0;
  background-color: #464646;
  justify-content: space-between;
}

header h1 {
  background: var(--secondary-color);
  font-weight: bold;
  margin: 0;
  font-size: 48px;
  padding: 10px 10px 10px 40px;
}

header a {
  text-decoration: none;
}

header nav ul {
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  list-style: none;
}

header nav ul li a {
  color: var(--secondary-color);
  font-size: 18px;
  text-decoration: underline;
  padding: 20px;
}
/* header styles end */

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  flex: 0 1 20%;
  text-align: right;
  padding: 0 20px;
  border-right: 10px solid var(--primary-color);
  margin: 20px 0;
}

.section-title ul {
  list-style: none;
  justify-content: flex-start;
}

.about-content {
  flex: 1 0 70%;
  margin: 20px 10px;
}

.projects {
  flex: 1 0 70%;
  margin: 10px;
}

.projects img {
  margin: 5px;
  border: 2px solid var(--secondary-color);
  padding: 5px;
  object-fit: fill;
  filter: blur(4px);
}

.large-window img {
  height: 50vh;
  width: 65vw;
}

.small-window img {
  height: 30vh;
  width: 30vw;
}

.contact-links {
  flex: 1 0 70%;
  margin: 10px;
}