:root {
  --primary-color: #00008b;
  --secondary-color: #40e0d0;
  --tertiary-color: #000000;
}

body {
  color: var(--primary-color);
  font-family: Georgia, Times, "Times New Roman", serif;
}

/* header styles start */
header {
  background-color: #464646;
  justify-content:space-between;
}

header h1 a {
  background: var(--secondary-color);
  font-weight: bold;
  font-size: 48px;
  text-decoration: none;
  padding: 0 20px 0 40px;
}

header nav ul {
  padding: 30px 20px 0 20px;
}

header nav ul li a {
  list-style: none;
  font-size: 24px;
  font-weight: bold;
  color: var(--secondary-color);
  padding: 0 10px;
}
/* header styles end */

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.section-title {
  font-size: 48px;
  flex: 0 1 15%;
  padding: 0 20px 0 0;
  text-align: right;
}

.section-title ul {
  list-style: none;
  font-weight: bold;
  opacity: 0.7;
}

.section-content {
  flex: 1 0 80%;
  border-left: 5px solid var(--primary-color);
  opacity: 0.7;
  margin: 20px 0;
  padding: 0 0 0 30px;
}

.section-content p {
  opacity: 1;
  font-size: 24px;
}

.section-content img {
  border: 3px solid var(--secondary-color);
  object-fit: fill;
  overflow: hidden;
  opacity: 1;
}

.large-window img {
  padding: 4px;
  height: 400px;
  width: 98%;
  filter: blur(3px);
}

.large-window img:hover {
  filter: blur(0);
}

.small-window img {
  padding: 4px;
  height: 150px;
  width: 48%;
  filter: blur(3px);
}

.small-window img:hover {
  filter: blur(0);
}

.section-content ul {
  margin: 0 20px 0 0;
  padding: 40px 0;
  list-style: none;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 32px;
}

.section-content ul li a {
  color: var(--tertiary-color);
}

.resume-title {
  font-size: 36px;
  flex: 0 1 15%;
  padding: 0 20px 0 0;
  text-align: right;
}

.resume-title ul {
  list-style: none;
  font-weight: bold;
  opacity: 0.7;
}

.resume-content {
  flex: 1 0 80%;
  border-left: 5px solid var(--primary-color);
  opacity: 0.7;
  margin: 20px 0;
  padding: 0 0 0 30px;
}

.resume-content ul li {
  font-size: 20px;
}

h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 36px;
}

h3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 24px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .section-title {
    font-size: 36px;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .small-window img {
    width: 98%;
  }
}